{% extends "index.html" %}

{% block body %}
<h3 class="text-success">
    This website displays the images stored in an Azure Storage account. It is a custom built image gallery that provides unlimited storage to host your memorable pictures. 
    <br/><br/>
    <ul>
        <li>Supported Video Formats: 'MP4','MOV','WMV','FLV','AVI','AVCHD','WEBM','MKV'</li>
        <li>Supported Image Formats: 'JPEG','JPG','GIF','PNG','TIFF','TIF','BMP','EPS','RAW','CR2','NEF','ORF','SR2'</li> 
    </ul>
    Note that mentioned formats are case insensitive. Any other file apart from these supported formats is ignored by the application, however it will still persist in the backend storage.
    <br/><br/>
    For further queries, contact me @<a href="/contact">here.</a>
</h3>
{% endblock %}