{% extends "index.html" %}

{% block body %}
<h3 class="text-success">
    Hope you find this useful. You can contact me via any of these channels:<br/><br/>
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <a href="www.linkedin.com/in/kanishk-malik">
                <img src="../static/img/linkedin_logo.jpg" width="100" height="100"></img>
            </a>
            <a href="mailto:kanishk.malik89@gmail.com">
                <img src="../static/img/email_logo.jpg" width="100" height="100"></img>
            </a>
            <a href="https://github.com/kkmalik89">
                <img src="../static/img/github_logo.jpg" width="100" height="100"></img>
            </a>
        </div>
    </div>
</h3>
{% endblock %}