{% extends "index.html" %}

{% block body %}
    <div class="bg-light">
        <h1>Dear {{ user_name }}, Welcome !</h1>
        <h3 class="text-success" id="heading"><i>Relive your memories !!!</i></h3>
    </div>
    <br/>
    <form method="post" action="/view-selected-folder" enctype="multipart/form-data">
    <label for="dir_name">Memory:</label>
    <select id="dir_name" name="dir_name">
        <option disabled selected value hidden> -- Select a folder -- </option>
        {% for dir in all_dir_list %}
            {% if directory_path == dir %}
                <option value="{{dir}}" selected>{{dir}}</option>
            {% else %}
                <option value="{{dir}}">{{dir}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input class="btn btn-success btn-sm" type="submit">
    </form>
    <style>
        .ReloadButtonAndMsg {
            display: flex;
            /* justify-content: center;
            align-items: center; */
            margin-right: 10px;
        }
        #ReloadButton {
            margin-right: 10px;
        }
        #ReloadMsg {
            font-size: 11px;
        }
    </style>
    <div class="ReloadButtonAndMsg">
        <button class="btn btn-outline-primary col-sm-2" id="ReloadButton" onclick="reloadDirList()" title="Dropdown shows only parent folder by default. If you would like to see all values, please click Refresh Folders button; it takes around 5 seconds to fetch all folder list.">Refresh Folders*</button>
        <p class="text-primary" id="ReloadMsg">*Dropdown shows only parent folder by default. If you would like to see all values, please click Refresh Folders button; it takes around 5 seconds to fetch all folder list.</p>
    </div>
    
    <style>
        #progressbar {
            width: 10%;
            height: 30px;
            background-color: #04AA6D;
            text-align: center; /* To center it horizontally (if you want) */
            line-height: 30px; /* To center it vertically */
            color: white;
            display: none;
        }
    </style>
    <div id='progressbar'></div>

    <br/>

    <!-- <p id="dynamic_js_msg_view">Temp js message</p> -->

    {% if directory_path == "" %}
        <b><p> Selected Path: / </p></b>
    {% else %}
        <b><p> Selected Path: {{ directory_path }} </p></b>
    {% endif %}

    {% if dir_path_list | length != 0 %}
    <p>Sub-folders present at this path:</p>
    <div class="row">
            {% for path in dir_path_list %}
                {% set path_without_space = path | replace(" ","%20") %}
                <div class="col-xl-4 col-lg-6 col-sm-12 col-md-12">
                        <!-- <p> Hi There</p> -->
                        <form action="/view-selected-subfolder" method="post" enctype="multipart/form-data">
                            <input id="dyn_dir_name" name="dyn_dir_name" class="btn btn-outline-success mb-1" type="submit" value="{{ path }}" />
                        </form>
                </div>
            {% endfor %}
    </div> 
    <br/>
    {% endif %}      

    <!-- {% if video_path_list | length != 0 %}
        <p>Videos present at this path:</p> 
        <div class="row">
            {% for path in video_path_list %}
                {% set video_src = blob_prefix_path+path+container_sas %}
                <div class="col-xl-6 col-lg-12 col-sm-12 col-md-12 img-thumbnail text-center bg-light">
                    <video width="320" height="240" controls>
                        <source src='{{ video_src }}' type="video/mp4"/>
                    Your browser does not support the video tag.
                    </video>
                </div>
            {% endfor %}
        </div>
    <br/>
     {% endif %}  -->

    <!-- {% if img_path_list | length != 0 %}
        <p>Pictures present at this path:</p>
         <div class="row">
            {% for path in img_path_list %}
                {% set img_src = blob_prefix_path+path+container_sas %}
                <div class="col-xl-6 col-lg-12 col-sm-12 col-md-12 img-thumbnail text-center bg-light">
                    <img class="bottom10 img-fluid pt-2" src='{{ img_src }}'/>
                </div>
            {% endfor %}
        </div>
    <br/>
    {% endif %} -->

    {% if video_path_list | length != 0 %}
        <p>Videos present at this path:</p> 
        <div class="row">
            {% for path in video_path_list %}
                {% set video_src = blob_prefix_path+path+container_sas %}
                <div class="col-xl-6 col-lg-12 col-sm-12 col-md-12 img-thumbnail text-center bg-light">
                    <input class="selectedImages" type="checkbox" id="{{ path }}" />
                    <video width="320" height="240" controls>
                        <source src='{{ video_src }}' type="video/mp4"/>
                    <!-- Your browser does not support the video tag. -->
                    </video>
                </div>
            {% endfor %}
        </div>
    <br/>
     {% endif %}

    {% if img_path_list | length != 0 %}
        <p>Pictures present at this path:</p>
         <div class="row">
            {% for path in img_path_list %}
                {% set img_src = blob_prefix_path+path+container_sas %}
                <div class="col-xl-6 col-lg-12 col-sm-12 col-md-12 img-thumbnail text-center bg-light" id="div_{{ path }}">
                    <input class="selectedImages" type="checkbox" id="{{ path }}" />
                    <img class="bottom10 img-fluid pt-2" src='{{ img_src }}'/>
                </div>
            {% endfor %}
        </div>
    <br/>
    {% endif %}

    <input class="btn btn-outline-primary col-sm-12" id="MoveFilesToBin" type="submit" title="Delete: Selected files to Recycle-Bin" value="Delete: Selected files to Recycle-Bin" onclick="DeleteSelectedImages()">
    <style>
        .MoveFilesSection {
            display: flex;
            margin-top: 10px;
            /* justify-content: center;
            align-items: center; */
            margin-right: 10px;
        }
        #MoveFilesToOtherLocation {
            margin-left: 4px;
        }
       
    </style>
    <div class="MoveFilesSection col-lg-12 col-sm-12 col-md-12 col-12">
    <select class = "col-lg-6 col-sm-6 col-md-6 col-6" id="move_dir_name" name="move_dir_name" title="Select a folder to move the files to">
        <option disabled selected value hidden> -- *Select a folder to move the files to -- </option>
        {% for dir in all_dir_list %}
               <option value="{{dir}}">{{dir}}</option>
        {% endfor %}
    </select>
    <input class="btn btn-outline-primary col-lg-6 col-sm-6 col-md-6 col-6" id="MoveFilesToOtherLocation" type="submit" title="Move: Files to selected folder" value="Move: Files to selected folder" onclick="MoveSelectedImages()">
    </div>

<script>
function reloadDirList(){
         // Create a progress bar element
        // var progressBar = $("<div id='progressbar'></div>");
        // Disable the Refresh Button
        document.getElementById('ReloadButton').disabled = true;
        var progressBar = document.getElementById('progressbar')
        progressBar.style.display = 'block';
        
        // Append it to the document body
        // $("body").append(progressBar);
        var percentComplete = 10;
        // Set the maximum timeout to 12 seconds
        var timeout = 12000;
        // Set the interval to update the progress bar every 100 milliseconds
        var interval = setInterval(function() {
            // Increment the percentage by one
            percentComplete++;
            // Update the progress bar width and text
            progressBar.style.width = percentComplete + "%";
            progressBar.innerHTML = percentComplete + "%";
            // If the percentage reaches 100 or the timeout is exceeded, stop the interval
            if (percentComplete >= 100 || timeout <= 0) {
                clearInterval(interval);
            }
        // Decrease the timeout by the interval duration
        timeout -= 100;
        }, 90);

        const fastApiReloadMethodUrl = 'get-all-dir-list';
        $.ajax({
                url: fastApiReloadMethodUrl,
                type: "POST",
                headers: {
                            'Content-Type': 'application/json',
                        },
                data: {},
                contentType: "application/json",
                success: function(response) {
                    console.log(response);  
                        // Hide the progress bar
                        // progressBar.hide();
                        // Clear the interval
                        clearInterval(interval);
                    // progressBar.hide();
                        progressBar.style.display = "none";
                       // window.location.reload(true);                  
                },
                error: function(error) {
                    console.log(error);
                }
            });       
    }

function DeleteSelectedImages() {  
        var si = document.getElementsByClassName("selectedImages")
        let arr_si = []
        let checkedFlag = []
        let index=0
        for (var i = 0; i < si.length; i++) {
            // console.log("printing logs")
            // console.log(si[i].id)
            checkedFlag[i] = document.getElementById(si[i].id).checked
            var checkboxValue = document.getElementById(si[i].id).checked
            // console.log(checkboxValue)
            if (checkboxValue) {
                // console.log("Inside if block")
                arr_si[index] = si[i].id
                index = index+1
            } 
        }
        var arr_si_len = arr_si.length
        if (arr_si_len == 0) {
            let alertMsg = "You have not selected any file (image/video). Please select atleast 1 file to move to Recycle Bin."
            alert (alertMsg)
            return "No image selected"
        }

        let alertMsg = "You have selected " + arr_si_len + " files (images/videos) to move to Recycle Bin. These will soon be permanently purged. Are you sure you want to continue?"  
        // alert (alertMsg)
        userInput = window.confirm(alertMsg)
        if (!(userInput)){
            console.log("User cancelled the operation....")
            return "User cancelled the operation";
        }

        var json_arr_si = JSON.stringify(arr_si);

        const fastApiMethodUrl = 'move-files-to-bin';
        $.ajax({
                url: fastApiMethodUrl,
                type: "POST",
                headers: {
                            'Content-Type': 'application/json',
                        },
                data: json_arr_si,
                contentType: "application/json",
                success: function(response) {
                    console.log(response);
                    
                    // window.location.reload();
                    // document.getElementById("dynamic_js_msg_view").innerHTML = "Selected files are successfully moved to Recycle Bin." + arr_si_len
                    let alertMsg = "Selected files("+arr_si_len+") are successfully moved to Recycle Bin. Contact admin if mistakenly deleted"
                    alert (alertMsg)

                    setTimeout(function () { // wait 0 seconds and reload
                            window.location.reload(true);
                        }, 0);
                    
                },
                error: function(error) {
                    let alertMsg = "Error occured in file movement: " + error.responseText 
                    alert (alertMsg)
                    console.log(error);
                }
            });       
    };

function MoveSelectedImages() { 

        var selectedValue = document.getElementById("move_dir_name").value;
        if (selectedValue.length == 0) {
            console.log ("No folder selected to move the files. Please select the folder to move the files to.")
            alert ("No folder selected to move the files")
            return "No folder selected";
        }
        console.log(selectedValue);
        var browsingFolder = document.getElementById("dir_name").value;
        if ( browsingFolder == selectedValue) {
            console.log ("Same source and destination folder. Please choose a different destination foler.")
            alert ("Same source and destination folder. Please choose a different destination foler.")
            return "Same source and destination folder.";
        }
        var si = document.getElementsByClassName("selectedImages")
        let arr_si = []
        let checkedFlag = []
        let index=0
        for (var i = 0; i < si.length; i++) {
            // console.log("printing logs")
            // console.log(si[i].id)
            checkedFlag[i] = document.getElementById(si[i].id).checked
            var checkboxValue = document.getElementById(si[i].id).checked
            // console.log(checkboxValue)
            if (checkboxValue) {
                // console.log("Inside if block")
                arr_si[index] = si[i].id
                index = index+1
            } 
        }
        var arr_si_len = arr_si.length
        if (arr_si_len == 0) {
            let alertMsg = "You have not selected any file (image/video). Please select atleast 1 file to move to '"+ selectedValue + "' folder."
            alert (alertMsg)
            return "No image selected"
        }

        let alertMsg = "You have selected " + arr_si_len + " files (images/videos) to move to '"+ selectedValue + "' folder. Are you sure you want to continue?"  
        // alert (alertMsg)
        userInput = window.confirm(alertMsg)
        if (!(userInput)){
            console.log("User cancelled the operation....")
            return "User cancelled the operation";
        }

        var json_fileList_Folder = {
            fileList: arr_si,
            moveToFolder: selectedValue
        }
            
        var json_data = JSON.stringify(json_fileList_Folder);
        console.log(json_data)
        const fastApiMethodUrl = 'move-files-to-another-folder';
        $.ajax({
                url: fastApiMethodUrl,
                type: "POST",
                headers: {
                            'Content-Type': 'application/json',
                        },
                data: json_data,
                dataType: "json",
                contentType: "application/json",
                success: function(response) {
                    console.log(response);
                    
                    // window.location.reload();
                    // document.getElementById("dynamic_js_msg_view").innerHTML = "Selected files are successfully moved to Recycle Bin." + arr_si_len
                    let alertMsg = "Selected files("+arr_si_len+") are successfully moved to '"+ selectedValue + "' folder."
                    alert (alertMsg)

                    setTimeout(function () { // wait 0 seconds and reload
                            window.location.reload(true);
                        }, 0);
                    
                },
                error: function(error) {
                    let alertMsg = "Error occured in file movement: " + error.responseText 
                    alert (alertMsg)
                    console.log(error);
                    console.log(error.responseText); 
                }
            });       
    };


    // function reloadDirList1(){
    //      // Create a progress bar element
    //     // var progressBar = $("<div id='progressbar'></div>");
    //     var progressBar = document.getElementById("progressbar");
        
    //     // Append it to the document body
    //     // $("body").append(progressBar);
    //     var percentComplete = 0;
    //     // Set the maximum timeout to 12 seconds
    //     var timeout = 12000;
    //     // Set the interval to update the progress bar every 100 milliseconds
    //     var interval = setInterval(function() {
    //         // Increment the percentage by one
    //         percentComplete++;
    //         // Update the progress bar width and text
    //         progressBar.width(percentComplete + "%");
    //         progressBar.text(percentComplete + "%");
    //         // If the percentage reaches 100 or the timeout is exceeded, stop the interval
    //         if (percentComplete >= 100 || timeout <= 0) {
    //             clearInterval(interval);
    //         }
    //     // Decrease the timeout by the interval duration
    //     timeout -= 100;
    //     }, 100);

    //     const fastApiReloadMethodUrl = 'get-all-dir-list';
    //     $.ajax({
    //             url: fastApiReloadMethodUrl,
    //             type: "POST",
    //             headers: {
    //                         'Content-Type': 'application/json',
    //                     },
    //             data: {},
    //             contentType: "application/json",
    //             success: function(response) {
    //                 console.log(response);  
    //                     // Hide the progress bar
    //                     // progressBar.hide();
    //                     // Clear the interval
    //                     clearInterval(interval);
    //                 // progressBar.hide();
    //                 // window.location.reload(true);                  
    //             },
    //             error: function(error) {
    //                 console.log(error);
    //             }
    //         });       
    // }

    // function checkSelectedImages() {  
    //     var si = document.getElementsByClassName("selectedImages")
    //     let arr_si = []
    //     let checkedFlag = []
    //     let index=0
    //     for (var i = 0; i < si.length; i++) {
    //         // console.log("printing logs")
    //         // console.log(si[i].id)
    //         checkedFlag[i] = document.getElementById(si[i].id).checked
    //         var checkboxValue = document.getElementById(si[i].id).checked
    //         // console.log(checkboxValue)
    //         if (checkboxValue) {
    //             // console.log("Inside if block")
    //             arr_si[index] = si[i].id
    //             index = index+1
    //         } 
    //     }
    //     var arr_si_len = arr_si.length
    //     if (arr_si_len == 0) {
    //         let alertMsg = "You have not selected any file (image/video) to be deleted. Please select atleast 1 image to be deleted."
    //         alert (alertMsg)
    //         return "No image selected"
    //     }

    //     let alertMsg = "You have selected " + arr_si_len + " files (images/videos) to be moved to Recycle Bin. These will soon be permanently purged. Are you sure you want to continue?"  
    //     // alert (alertMsg)
    //     userInput = window.confirm(alertMsg)
    //     if (!(userInput)){
    //         console.log("User cancelled the operation....")
    //         return "User cancelled the operation";
    //     }

    //     var json_arr_si = JSON.stringify(arr_si);

    //     const fastApiMethodUrl = 'move-files-to-bin';
    //     $.ajax({
    //             url: fastApiMethodUrl,
    //             type: "POST",
    //             headers: {
    //                         'Content-Type': 'application/json',
    //                     },
    //             data: json_arr_si,
    //             contentType: "application/json",
    //             success: function(response) {
    //                 console.log(response);
                    
    //                 // window.location.reload();
    //                 // document.getElementById("dynamic_js_msg_view").innerHTML = "Selected files are successfully moved to Recycle Bin." + arr_si_len
    //                 let alertMsg = "Selected files("+arr_si_len+") are successfully moved to Recycle Bin. Contact admin if mistakenly deleted"
    //                 alert (alertMsg)

    //                 setTimeout(function () { // wait 3 seconds and reload
    //                         window.location.reload(true);
    //                     }, 1000);
                    
    //             },
    //             error: function(error) {
    //                 let alertMsg = "Error occured in file movement: " + error.responseText 
    //                 alert (alertMsg)
    //                 console.log(error);
    //             }
    //         });       
    // };

    // function reloadDirList(){
    //     const fastApiReloadMethodUrl = 'get-all-dir-list';
    //     $.ajax({
    //             url: fastApiReloadMethodUrl,
    //             type: "POST",
    //             headers: {
    //                         'Content-Type': 'application/json',
    //                     },
    //             data: {},
    //             contentType: "application/json",
    //             success: function(response) {
    //                 console.log(response);  
    //                 window.location.reload(true);                  
    //             },
    //             error: function(error) {
    //                 console.log(error);
    //             }
    //         });       
    // }


</script>
{% endblock %}